{% extends "layout/layout.html" %}

{% block content %}
  <h1>Add A New Peer</h1>
  {% match status %}
    {% when Some with (val) %}<p>{{ val }}</p>
    {% when None %}
  {% endmatch %}
  <form action="/peers/add" method="post">
    <label>Public Key: <input name="public_key" size="48"></label>
    <br />
    {% match public_key_err %}
      {% when Some with (val) %}{{ val }}
      {% when None %}
    {% endmatch %}

    <label>Pre-shared Key: <input name="preshared_key" size="48" /></label><br />
    {% match preshared_key_err %} {% when Some with (val) %}{{ val }} {% when None
    %} {% endmatch %}

    <label>Allowed IPs: <input name="allowed_ips" /></label><br />
    {% match allowed_ips_err %} {% when Some with (val) %}{{ val }} {% when None
    %} {% endmatch %}

    <label>Endpoint: <input name="endpoint" /></label><br />
    {% match endpoint_err %} {% when Some with (val) %}{{ val }} {% when None %}
    {% endmatch %}

    <label>Persistent Keepalive <input name="persistent_keepalive" /></label><br />
    {% match persistent_keepalive_err %} {% when Some with (val) %}{{ val }} {% when None %}
    {% endmatch %}

    <input type="submit" value="Add Peer">
  </form>
{% endblock %}
