:root {
  --primary-color: #4D5568;
  --secondary-color: #4C7A91;
  --tertiary-color: #446FA0;
  --light-gray-color: #f5f5f5;
  --gray-color: #f0f0f0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
}

#content {
  padding: 0 3em;
}
