main {
  padding: 0 3em;
}

.network-table {
  border-radius: 5px;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.network-table thead {
  background-color: var(--primary-color);
  color: var(--gray-color);
}

.network-table thead td {
  padding: 0.75em;
}

.network-table tbody {
  background-color: var(--gray-color);
}

.network-table td {
  padding: 0.5em 0.75em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.network-table .bandwidth {
  white-space: normal;
}

.network-table tr + tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.network-table tbody strong {
  font-weight: normal;
  color: var(--secondary-color);
}
